.dashboard {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.dashboard .screen {
    background-color: #ffffff;
    height: 768px;
    position: relative;
    width: 1366px;
}
.dashboard .screen .name{
    position: relative;
    right: -5.5%;
    top: 20%;
    font-family: "Poppins", Helvetica;
    font-size: 60px;
    font-weight: 700;
    color: #000000;
}

.dashboard .logo {
    left: 50px;
    position: absolute;
    top: 40px;
}

.dashboard .navigation-tab {
    left: 360px;
    position: absolute;
    top: 50px;
}

.dashboard .dashboard-tab {
    color: #78bcc4;
    background-color: #ffffff;
    border: none;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 80px;
    position: absolute;
}

.dashboard .employee-tab {
    color: #000000;
    background-color: #ffffff;
    border: none;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 260px;
    position: absolute;
}

.dashboard .case-tab {
    color: #000000;
    background-color: #ffffff;
    border: none;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 420px;
    position: absolute;
    width: max-content;
}

.dashboard .extra-tab {
    left: 1100px;
    position: absolute;
    top: 50px;
}

.dashboard .alert-tab {
    color: #000000;
    border: none;
    background-color: #ffffff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 100px;
    position: absolute;
}

.dashboard .logout-tab {
    color: #000000;
    background-color: #ffffff;
    border: none;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 200px;
    position: absolute;
}

.dashboard .change-to-pc {
    align-items: center;
    background-color:gray;
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    justify-content: center;
    left: 80px;
    border: none;
    position: absolute;
    top: 135px;
    width: 50px;
}

.dashboard .change-to-building {
    align-items: center;
    background-color:gray;
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    justify-content: center;
    left: 140px;
    border: none;
    position: absolute;
    top: 135px;
    width: 70px;
}

.dashboard .change-to-proxy {
    align-items: center;
    background-color:gray;
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    justify-content: center;
    left: 220px;
    border: none;
    position: absolute;
    top: 135px;
    width: 70px;
}

.dashboard .visual {
    margin-top: 160px;
    border-style: ridge;
    border-left: #ffffff;
    border-right: #ffffff;
    border-bottom: #ffffff;
    margin-left: 70px;
}

.dashboard .screen .dashboardView{
    position: absolute;
    top: 150px;
}