.dashboard {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.dashboard .screen {
    background-color: #ffffff;
    height: 768px;
    position: relative;
    width: 1366px;
}

.dashboard .logo {
    left: 50px;
    position: absolute;
    top: 40px;
}

.dashboard .navigation-tab {
    left: 360px;
    position: absolute;
    top: 50px;
}

.dashboard .dashboard-tab {
    color: #78bcc4;
    background-color: #ffffff;
    border: none;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 80px;
    position: absolute;
}

.dashboard .employee-tab {
    color: #000000;
    background-color: #ffffff;
    border: none;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 260px;
    position: absolute;
}

.dashboard .case-tab {
    color: #000000;
    background-color: #ffffff;
    border: none;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 420px;
    position: absolute;
    width: max-content;
}

.dashboard .extra-tab {
    left: 1100px;
    position: absolute;
    top: 50px;
}

.dashboard .alert-tab {
    color: #000000;
    border: none;
    background-color: #ffffff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 100px;
    position: absolute;
}

.dashboard .logout-tab {
    color: #000000;
    background-color: #ffffff;
    border: none;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 200px;
    position: absolute;
}

.dashboard .visual {
    margin-top: 100px;
    margin-left: 70px;
}