.case {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.case .div {
  background-color: #ffffff;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.case .overlap {
  height: 61px;
  left: 51px;
  position: absolute;
  top: 43px;
  width: 281px;
}

.case .ellipse {
  background-color: #002c3e;
  border-radius: 20px;
  height: 40px;
  left: 16px;
  position: absolute;
  top: 11px;
  width: 40px;
}

.case .text-wrapper {
  color: #002c3e;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 61px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 10px;
  margin-left: 70px;
  width: 281px;
}

.case .overlap-group {
  height: 80px;
  left: 1100px;
  position: absolute;
  top: 37px;
  width: 360px;
}

.case .text-wrapper-2 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 22px;
  font-weight: 500;
  height: 80px;
  left: 120px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 240px;
}

.case .text-wrapper-3 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 22px;
  font-weight: 500;
  height: 80px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 240px;
}

.case .overlap-2 {
  height: 80px;
  left: 357px;
  position: absolute;
  top: 37px;
  width: 676px;
}

.case .text-wrapper-4 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 22px;
  font-weight: 500;
  height: 80px;
  left: 183px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 240px;
}

.case .text-wrapper-5 {
  color: #78bcc4;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 22px;
  font-weight: 700;
  height: 80px;
  left: 364px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 312px;
}

.case .overlap-3 {
  height: 926px;
  left: 94px;
  position: absolute;
  top: 192px;
  width: 278px;
}

.case .frame {
  height: 849px;
  left: 6px;
  position: absolute;
  overflow-y: scroll;
  top: 77px;
  width: 272px;
}

.case .ticket-high-priority {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #032539;
  border-radius: 20px;
  height: 140px;
  position: relative;
}

.case .line {
  height: 2px;
  left: 0;
  position: absolute;
  top: 99px;
  width: 270px;
}

.case .overlap-4 {
  height: 81px;
  left: 6px;
  position: absolute;
  top: 10px;
  width: 256px;
}

.case .overlap-group-2 {
  height: 27px;
  left: 176px;
  position: absolute;
  top: 3px;
  width: 80px;
}

.case .rectangle {
  background-color: #f0bdbd;
  border: 1px solid;
  border-color: #032539;
  border-radius: 10px;
  height: 25px;
  left: 3px;
  position: absolute;
  top: 2px;
  width: 72px;
}

.case .text-wrapper-6 {
  color: #9a0707;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  height: 27px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 80px;
}

.case .overlap-group-3 {
  height: 81px;
  left: 0;
  position: absolute;
  top: 0;
  width: 255px;
}

.case .text-wrapper-8 {
  color: #002c3e;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 25px;
  overflow-x: hidden;
  font-weight: 700;
  height: 33px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 109px;
}

.case .p {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 11px;
  font-weight: 400;
  height: 32px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35px;
  width: 234px;
}

.case .image {
  height: 26px;
  left: 225px;
  position: absolute;
  top: 106px;
  width: 26px;
}

.case .img {
  height: 26px;
  left: 13px;
  position: relative;
  top: 106px;
  width: 26px;
}

.case .text-wrapper-9 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 80px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 188px;
}

.case .image-2 {
  height: 24px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 24px;
}

.case .overlap-5 {
  height: 926px;
  left: 404px;
  position: absolute;
  top: 192px;
  width: 292px;
}

.case .ticket-high-priority-wrapper {
  height: 849px;
  left: 19px;
  position: absolute;
  overflow-y: scroll;
  top: 77px;
  width: 272px;
}

.case .image-3 {
  height: 24px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 24px;
}

.case ::-webkit-scrollbar {
  display: none;
}

.case .overlap-6 {
  height: 926px;
  left: 728px;
  position: absolute;
  top: 192px;
  width: 290px;
}

.case .div-wrapper {
  height: 849px;
  left: 18px;
  position: absolute;
  overflow-y: scroll;
  top: 77px;
  width: 272px;
}

.case .image-4 {
  height: 24px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 24px;
}

.case .overlap-7 {
  height: 926px;
  left: 1037px;
  position: absolute;
  top: 192px;
  width: 304px;
}

.case .frame-2 {
  height: 849px;
  left: 32px;
  position: absolute;
  overflow-y: scroll;
  top: 77px;
  width: 272px;
}

.case .image-5 {
  height: 24px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 24px;
}

.case .overlap-8 {
  height: 48px;
  left: 1093px;
  position: absolute;
  top: 144px;
  width: 288px;
}

.case .rectangle-2 {
  align-items: flex-start;
  color: #535151;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #032539;
  border-radius: 10px;
  height: 40px;
  left: 13px;
  position: absolute;
  top: 5px;
  width: 275px;
}