.nav {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.nav .screen {
    background-color: #ffffff;
    height: 768px;
    position: relative;
    width: 1366px;
}

.nav .logo {
    left: 50px;
    position: absolute;
    top: 40px;
}

.nav .navigation-tab {
    left: 360px;
    position: absolute;
    top: 50px;
}

.nav .dashboard-tab {
    color: #000000;
    background-color: #ffffff;
    border: none;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 80px;
    position: absolute;
}

.nav .employee-tab {
    color: #78bcc4;
    background-color: #ffffff;
    border: none;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 260px;
    position: absolute;
}

.nav .case-tab {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 22px;
    font-weight: 500;
    background-color: #ffffff;
    border: none;
    left: 420px;
    position: absolute;
    width: max-content;
}

.nav .extra-tab {
    left: 1100px;
    position: absolute;
    top: 50px;
}